.category-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #f3f4f8;

  &__label {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    color: #343942;
  }

  &:hover,
  &.checked {
    background: #dceaff;
  }

  &.checked {
    .category-button__label {
      color: #2c7eff;
    }
  }
}
