.App {
  padding: 0 16px;

  @media (min-width: 576px) {
    width: 500px;
    min-height: 100vh;
    margin: 0 auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  left: 0;
  right: 0;

  @media (min-width: 576px) {
    width: 500px;
    left: calc(50% - 250px);
    right: unset;
  }
}

.form-label {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
}

.form-control {
  height: 48px;
  border-radius: 16px;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 14px;
  background-color: #fafafb;

  &:focus {
    box-shadow: none;
  }

  &::placeholder {
    color: #b1b8c0;
  }

  &.transparent {
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
}

.btn {
  border-radius: 16px;

  &.btn-primary {
    font-weight: 700;
  }

  &.btn-outline-primary {
    border: 1px solid var(--Color-Primary-Normal, #2c7eff);
    background: var(--Component-Fill-Primary, #dceaff);
    color: #2c7eff;
  }

  &.btn-info {
    background: #dceaff;
    color: #2c7eff;
    border: 0;
    font-weight: 700;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.9;
      background: #dceaff;
      color: #2c7eff;
      border: 0;
    }
  }
}

.input-group:has(.input-group-text) {
  .form-control {
    border-right: 0;
  }

  .input-group-text {
    border-radius: 16px;
  }
}

.react-modal-sheet-container {
  @media (min-width: 576px) {
    width: 500px !important;
    left: calc(50% - 250px) !important;
  }
}

.nav-tabs {
  border: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1px;
  flex-wrap: nowrap;
  gap: 16px;

  .nav-item {
    .nav-link {
      white-space: nowrap;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      color: #6d7582;
      border: 0;
      padding-left: 2px;
      padding-right: 2px;
      // margin-left: 8px;
      // margin-right: 8px;

      &.active {
        color: #2c7eff;
        font-weight: 700;
        border-bottom: 2px solid #2c7eff;
      }
    }
  }
}
